/* Media query for extra small screen sizes */
@media only screen and (max-width: 400px) {
    body {
      margin-bottom: 80px;
    }  
    
    .contact-form {
        padding-left: 5%;
        padding-right: 5%;
    }
}



/* Colors for entire site */

:root {
    --hue-neutral: 41.9;
    --hue-wrong: 0;
    --hue-correct: 120;
}

/* Body styling */
body {

    --hue: var(--hue-neutral);
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 60px;
    margin-bottom: 120px;
    background-color: hsl(var(--hue), 100%, 47.45%);
}

/* Boostrap overriding styling */
.navcar-color {
    background-color: #4d4d4e;
}

.navcar-color a {
    color: #f2a900;
}

.toggle-button {
    background-color: #f2a900;
}

.sendbtn:hover {
     background-color: #4d4d4e;
}

/* Bitcoin Live price text and logo styling */

.bitcoin-price {
    padding-left: 40vw;
    padding-right: 40vw;
}

.bitcoin-logo {
    display: block;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    
}


/* Main container for the Quiz div styling */

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin-left: auto;
    margin-right: auto;
    
    
}

/*Contact Form styling */

.contact-form {
    padding-left: 5%;
}

/* Footer styling */

.footer {
    width: 100vw;
    height: 60px;
    background-color: #4d4d4e;
    position: fixed;
    bottom: 0;
    text-align: center;
    
}


.socials {
    color: #f2a900;
    display:inline-block;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    vertical-align: bottom;
    margin-left: auto;
    
    
}


.socials:hover {
    color: white;
}


/* Buttons during quiz styling */

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue),100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}
.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}
.btn.wrong {
    --hue: var(--hue-wrong);
}
.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px 50px;
    
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Class to hide divs when not in use */
.hide {
    display: none;
}